@{
    ViewBag.Title = "AddShelter";
}
<div class="admin">
    <h2>Add Shelter</h2>

    <form method="post">
        <input type="text" name="Name" placeholder="name" />
        <input type="text" name="Location" placeholder="location" />
        <input type="text" name="Photo" placeholder="photo url" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>