@model PetApp.DataModels.Volunteer

@{
    ViewBag.Title = "Approve";
}
<div class="admin">
<h2>@Model.FirstName</h2>

@Model.Message()


<a href="/Admin/Confirm/@Model.Id?choic=1" class="btn btn-primary">Approve</a>
<a href="/Admin/Confirm/@Model.Id?choic=2" class="btn btn-danger">Reject</a>

</div>